*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    margin-block: 24px;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;

    & input{
        margin-bottom: 8px;
        border: none;
        border-bottom: 1px solid #ccc;
        outline: none;
        font-size: 18px;
    }
    & button{
        background-color: rgb(73, 202, 73);
        color: white;
        font-weight: bold;
        padding: 4px;
        border: none;
        cursor: pointer;
    }

}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    & ul{
        margin-top: 8px;
        & li{
            font-size: 18px;
            list-style: none;
            border-bottom: 1px solid #ccc;
            padding: 4px;
        }
    }
}